CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_netgear_r6800=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_simple-obfs=y
CONFIG_PACKAGE_xray-core=y
CONFIG_XRAY_CORE_COMPRESS_UPX=y
